

<div class="input-group">
  <span class="input-group-addon">Source</span>
  <input type="text" class="form-control" placeholder="Title" name="newSourceTitle" ng-model="newSourceTitle">
</div>
<br/>
<div class="input-group">
  <span class="input-group-addon">Source</span>
  <input type="text" class="form-control" placeholder="Host" name="newSourceUrl" ng-model="newSourceHost">
</div>
<br/>
<div class="input-group">
  <span class="input-group-addon">Source</span>
  <input type="text" class="form-control" placeholder="Path" name="newSourceUrl" ng-model="newSourcePath">
</div>
<br/>
<span class="input-group-btn">
    <button  ng-click="saveSource()" class="btn btn-default" type="button">Add Source</button>
</span>